* {
    text-align: center;
    font-size: 32px;
    color: rgb(41, 43, 49)
}

.buttons,
.setters {
    display: inline-block;
}

.timer {
    margin-top: 30px;
    font-size: 42px;
    width: 350px;
    height: 350px;
    border: 5px rgb(22, 22, 36) solid;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#promodoro {
    font-size: 2rem;
    position: absolute;
    margin-top: 90px;
    margin-left: -165px;
    font-family: 'Kanit', sans-serif;
}

.main-stopper,
#main-minute,
#main-sec {
    margin-top: 100px;
    font-size: 80px;
    display: absolute;
    margin-left: auto;
    margin-right: auto;
}

#main-separator {
    font-family: 'Anton', sans-serif;
    font-size: 80px;
}

#dynamic-round {
    width: 350px;
    height: 350px;
    border: 8px black solid;
    border-radius: 100%;
}

.buttons {
    display: absolute;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 6px 30px;
    border: 5px solid rgb(29, 30, 37);
    border-radius: 10%;
    font-family: 'Anton', sans-serif;
}

.setters {
    padding: 600px 5px;
    font-family: 'Anton', sans-serif;
}

.timer,
.setters {
    background-color: #f5f2f2;
}

#start,
.setter-plus {
    background: #bcda78;
}

#start:active,
.setter-plus:active {
    background: #d7f68c;
}

#reset,
.setter-minus {
    background: rgb(230, 142, 127);
}

#reset:active,
.setter-minus:active {
    background: rgb(231, 46, 46);
}

.setters {
    display: absolute;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    padding: 6px 30px;
    border: 6px solid rgb(32, 33, 41);
    border-radius: 10%;
}

.setter-plus:focus,
.setter-minus:focus {
    outline: none;
}

.setters:hover {
    background-color: #f8f4f4;
}

.setter-plus {
    border-radius: 20%;
    border: none;
    padding-top: 8px;
    padding-right: 30px;
    padding-left: 30px;
}

.setter-minus {
    border-radius: 20%;
    border: none;
    padding-top: 8px;
    padding-right: 30px;
    padding-left: 30px;
}